{{set . "title" "Csr"}}
{{template "header.html" .}}

{{template "nav.html" .}}

<div class="container">
  <div class="row">
	<h1>CSR</h1>
	
    {{template "flash.html" .}}
	
	<div>
		<a class="btn btn-primary" href="{{url "Csr.New"}}">New</a>
	</div>
	
	<div>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Common Name</th>
			<th>Created At</th>
			<th></th>
		</tr>
		{{range $i, $csr := $.csrs}}
		<tr>
			<td>{{$csr.ID}}</td>
			<td><a href="{{url "Csr.Show" $csr.ID}}">{{$csr.CommonName}}</a></td>
			<td>{{$csr.CreatedAt.Local}}</td>
			<td>
			<form action="{{url "Csr.Delete" $csr.ID}}" method="post">
				<button type="submit" class="btn btn-primary">Delete</button>
			</form>
			</td>
		</tr>
		{{end}}
	</table>
	</div>
  </div>
</div>

{{template "footer.html" .}}
