{{set . "title" "Csr"}}
{{template "header.html" .}}

{{template "nav.html" .}}

<div class="container">
  <div class="row">
	<h1>New</h1>

    {{template "flash.html" .}}
	
	<form class="form-control" method="post" action="{{url "Csr.Create"}}">
		<table class="table">
			<tr>
				<th>Key Bits<span class="msut">*</span></th>
				<td>
				{{with $field := field "csr.KeyBits" .}}
				<label>{{radio $field "2048"}}&nbsp;2048</label>
				{{end}}
				</td>
			</tr>
			<tr>
				<th>Csr Algorithm<span class="msut">*</span></th>
				<td>
				{{with $field := field "csr.CsrAlgorithm" .}}
				<label>{{radio $field "sha256"}}&nbsp;sha256</label>
				<label>{{radio $field "sha1"}}&nbsp;sha1</label>
				{{end}}
				</td>
			</tr>
			<tr>
				<th>Country<span class="msut">*</span></th>
				<td>
				{{with $field := field "csr.Country" .}}
				<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="JP" />
				{{end}}
				</td>
			</tr>
			<tr>
				<th>State<span class="msut">*</span></th>
				<td>
				{{with $field := field "csr.State" .}}
				<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="Tokyo"  />
				{{end}}
				</td>
			</tr>
			<tr>
				<th>Locality<span class="msut">*</span></th>
				<td>
				{{with $field := field "csr.Locality" .}}
				<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="Meguro-ku" />
				{{end}}
				</td>
			</tr>
			<tr>
				<th>Organizational Name<span class="msut">*</span></th>
				<td>
				{{with $field := field "csr.OrganizationalName" .}}
				<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" />
				{{end}}
				</td>
			</tr>
			<tr>
				<th>Organizational Unit</th>
				<td>
				{{with $field := field "csr.OrganizationalUnit" .}}
				<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" />
				{{end}}
				</td>
			</tr>
			<tr>
				<th>Common Name<span class="msut">*</span></th>
				<td>
				{{with $field := field "csr.CommonName" .}}
				<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="www.example.com" />
				{{end}}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit" class="btn btn-primary">Submit</button>
				</td>
			</tr>
		</table>
	</form>
  </div>
</div>

{{template "footer.html" .}}
